*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
}

section{
    margin-top: 70px;
}

.logo a img{
    width: 9rem;
}

body{
    position: relative;
}

html{
    scroll-behavior: smooth;
    font-size: 90%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    box-shadow: 0 0 10px white;
    z-index: 10;
}

.navbar-container{
    display: flex;
    gap: 100px;
}

.navbar-container li{
    margin: 0 15px;
    list-style: none;
}

.navbar-container li a{
    font-size: 20px;
    text-decoration: 0;
    color: white;
    position: relative;
}

.navbar-container li a::before{
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: white;
    transition: 0.5s;
}

.navbar-container li a:hover::before{
    width: 100%;
}

.menuBurger{
    display: none;
}


/* ================= Home page ==================== */

.container-home{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.left h1{
    color: white;
    font-size: 3rem;
    margin-top: 20px;
}

.left p{
    color: white;
    margin-top: 25px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;

}

.right{
    display: flex;
    align-items: center;
}
.right img{
    width: 360px;
}

.check-menu{
    padding: 0;
    background-color:white;
    color: black;
    border-radius: 6px;
    font-size: 23px;
    line-height: 45px;
    width: 204px;
    gap: 30px;
    margin-top: 83px;
}

.check-menu:hover{
    background-color: black;
    color: white;
    border: solid  white 2px;
    cursor: pointer;
}

.about-img{
    width: 250px;
    border:white 2px solid;
    border-radius: 4px;
}



.container-dishes{
    background-color: black;
    padding-bottom: 40px;
    height: 100vh;
}

.container-dishes h1{
    text-align: center;
    color: white;
    padding: 50px 0;
}

.cadres{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.cadres h2{
    color: white;
    text-align: center;
}

/* ===================footer==================== */
.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footerContainer{
    display: flex;
}

.footer-logo{
    width: 50%;
}

.footer-logo img{
    width: 250px
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    position: relative;
}

.footer-txt{

}

.footer-container{
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
}

.quick-links{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.quick-links-txt{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-title h1{
    font-size: 64px;
}
.quick-links{
    font-family: 'Gabarito', sans-serif;
}
.quick-links div{

}
.quick-links ul{
    list-style: none;
}
.quick-links li{
    padding-bottom: 20px;
}

.copyright{
    text-align: center;
    padding: 50px 0;
}

.quick-links a{
    color: black;
    text-decoration: none;
}

.form-control{
    padding-left: 10px;
    width: 100%;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px 0px;
}

.form-control-area{
    width: 100%;
    height: 250px;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px 0px;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
}

.button-submit{
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
}

.formContainer{
    width: 40%;
    padding: 0 100px;
    display: flex;
    align-items: center;
}
.news-letter{
    width: 100%;
}

/* .linksLogo{
    display: flex;
    width: 40%;
    background-color: blue;
} */

.button-submit:hover{
    background-color: white;
    color: black;
    border: solid  black 2px;
    cursor: pointer;
}
/* ==================== */


/* =========== Menu Page ============ */

.container-foodmenu{
    margin-top: 70px;
    height: 100vh;
    background-color: black;
}

.menu-food{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.image-food img{
    width: 200px;
    height: 160px;
}

.container-foodmenu h1{
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image-food h2,p{
    color: white;
    text-align: center;
}



.container-drinksmenu{
    height: 100vh;
    background-color: black;

}

.menu-drinks{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.menudrinks-img{
    width: 200px;
    height: 230px;
}

.container-drinksmenu h1{
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image-drinks h2,p{
    color: white;
    text-align: center;
}





.container-team{
    margin-top: 70px;
    height: 100vh;
    background-color: black;
}

.container-team{
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.image-manager{
    margin-bottom: 15px;
}

.manager-img{
    margin: auto;
    height: 200px;
}

.container-team h1{
    margin-bottom: 40px;
}

.image-chefs{
    border: 2px white solid;
}

.chef{
    width: 200px;
    height: 230px;
}

.image-team{
    display: flex;
    justify-content: space-around;
}

/* FAQ */


.faq-container{
    padding: 70px 0;
    background-color: black;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.faq-container h1{
    color: white;
    text-align: center;
}

.question h3{
    color: white;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.8rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
    color: white;
}

.faq.active .answer{
    max-height: 300px;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

/* ======== faq ========== */


@media(max-width:400px){
    .navbar-container{
        display: none;
    }
    .menuBurger{
        display: block;
    }

    .footer-container{
        flex-direction: column;
    }

    .formContainer{
        padding: 0;
        margin: auto;
    }

    .quick-links-txt{
        width: unset;
    }

    .footer-logo{
        width: unset;
    }

    .container-dishes{
        padding-top: 265px;
        height: unset;
    }

    .menu-food{
        flex-direction: column;
        align-items: center;
    }

    .container-foodmenu{
        height: unset;
    }

    .container-drinksmenu{
        height: unset;
    }

    .container-team{
        height: unset;
    }

    .image-team{
        flex-direction: column;
        gap: 15px;
    }

    .image-chefs{
        width: 52%;
        margin: auto;
    }

    .faq-container{
        padding: 70px 25px;
    }
}